@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* you can also add more classes here*/

/* you can use the base classes*/
.test-secondary {
  @apply text-red-300 font-semibold text-2xl;
}

/* you can use normal css with base classes */
.test-primary {
  background-color: #fff;
  height: 100px;
  width: 100px;
  @apply text-red-300 font-semibold text-2xl;
}

html,
body,
#root {
  height: 100%;
  text-align: center;
  font-family: 'Poppins';
}
